@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/*banner style*/
.banner{
    max-width: 1489px;
    height: 652px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
   
}
.banner-container{
width: 998px;
height: 581px;
margin: 26px 221px 45px 221px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.banner-content{
width: 998px;
height: 309px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 0px;
}
.banner-description{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 0px;
}
.banner-btn{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: black;
    width: 254px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    border-radius: 5px;
}
/*why-dev section style*/
.why-dev{
    width: 1140px;
    height: 1393px;
    margin: 74px 152px 94px 148px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    align-items: center;
    justify-content: center;
}
.why-dev-container{
    width: 946px;
    height: 1233px;
    margin: 80px 97px;
   
    
}
.why-dev-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    margin-top:0;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.why-dev-description{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}